# Assignment 1

## 1.0 Import and install python libraries

In [2]:
# import numpy and pandas libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier 
import summarytools
from summarytools import dfSummary
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
# set random seed to ensure that results are repeatable
np.random.seed(1)

## 3.0 Load data

In [3]:
# load data
Rscores = pd.read_csv("Restaurant_Scores.csv")

## 4.0 Conduct initial exploration of the data

We have a number of input variables and one target variable. For this analysis, the target variable is price.

First, our initial exploration of the data should answer the following questions:
1. How many rows and columns
2. How much of a problem do we have with na's?
3. What types of data are there?
4. What types of data are stored in columns
    1. identify which variables are numeric and may need to be standardized later
    2. identify which variables are categorical and may need to be transformed using and encoders such as one-hot-encoder.
5. Identify errors in the data - this is a common problem with categorical vars where the category is mispelled or spelled differently in some instances.

In [4]:
# look at the data
Rscores.head(3) # note that we don't want to dump all the data to the screen

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,...,inspection_score,inspection_type,violation_id,violation_description,risk_category,Neighborhoods,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods
0,1000.0,HEUNG YUEN RESTAURANT,3279 22nd St,San Francisco,CA,94110.0,37.755282,-122.420493,POINT (-122.420493 37.755282),NaN,...,74.0,Routine - Unscheduled,1000_20171002_103103,High risk food holding temperature,High Risk,53.0,53.0,3.0,2.0,20.0
1,1000.0,HEUNG YUEN RESTAURANT,3279 22nd St,San Francisco,CA,94110.0,37.755282,-122.420493,POINT (-122.420493 37.755282),NaN,...,74.0,Routine - Unscheduled,1000_20171002_103132,Improper thawing methods,Moderate Risk,53.0,53.0,3.0,2.0,20.0
2,1000.0,HEUNG YUEN RESTAURANT,3279 22nd St,San Francisco,CA,94110.0,37.755282,-122.420493,POINT (-122.420493 37.755282),NaN,...,74.0,Routine - Unscheduled,1000_20171002_103142,Unclean nonfood contact surfaces,Low Risk,53.0,53.0,3.0,2.0,20.0

In [5]:
# generate a basic summary of the data
Rscores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1997 entries, 0 to 1996
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   business_id                   1093 non-null   float64
 1   business_name                 1093 non-null   object
 2   business_address              1093 non-null   object
 3   business_city                 1093 non-null   object
 4   business_state                1093 non-null   object
 5   business_postal_code          1047 non-null   float64
 6   business_latitude             1083 non-null   float64
 7   business_longitude            1083 non-null   float64
 8   business_location             1083 non-null   object
 9   business_phone_number         421 non-null    float64
 10  inspection_id                 1093 non-null   object
 11  inspection_date               1093 non-null   object
 12  inspection_score              1023 non-null   float64
 13  inspection_type               1093 non-null   object
 14  violation_id                  1093 non-null   object
 15  violation_description         1093 non-null   object
 16  risk_category                 1093 non-null   object
 17  Neighborhoods                 1083 non-null   float64
 18  SF Find Neighborhoods         1083 non-null   float64
 19  Current Police Districts      1083 non-null   float64
 20  Current Supervisor Districts  1083 non-null   float64
 21  Analysis Neighborhoods        1083 non-null   float64
dtypes: float64(11), object(11)
memory usage: 343.4+ KB

In [6]:
# generate a statistical summary of the numeric value in the data
Rscores.describe()

,business_id,business_postal_code,business_latitude,business_longitude,business_phone_number,inspection_score,Neighborhoods,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods
count,1093.000000,1047.000000,1083.000000,1083.000000,4.210000e+02,1023.000000,1083.000000,1083.000000,1083.000000,1083.000000,1083.000000
mean,5460.571821,94112.823305,37.770276,-122.424310,1.415558e+10,84.466276,55.077562,55.077562,4.996307,5.227147,17.619575
std,8952.679027,8.375412,0.019829,0.024124,4.903537e+05,8.828026,32.631640,32.631640,2.638753,3.307713,10.759738
min,101.000000,94102.000000,37.711185,-122.504572,1.415052e+10,46.000000,5.000000,5.000000,1.000000,1.000000,1.000000
25%,1249.000000,94107.000000,37.755292,-122.433817,1.415543e+10,80.000000,31.000000,31.000000,3.000000,2.000000,8.000000
50%,1584.000000,94110.000000,37.771117,-122.419004,1.415564e+10,86.000000,53.000000,53.000000,4.000000,4.000000,20.000000
75%,10433.000000,94117.000000,37.787098,-122.407671,1.415576e+10,90.000000,84.000000,84.000000,7.000000,9.000000,22.000000
max,101430.000000,94134.000000,37.808352,-122.383536,1.415838e+10,98.000000,115.000000,115.000000,10.000000,11.000000,41.000000

In [7]:
# Check the missing values by summing the total na's for each variable
Rscores.isna().sum()

business_id                      904
business_name                    904
business_address                 904
business_city                    904
business_state                   904
business_postal_code             950
business_latitude                914
business_longitude               914
business_location                914
business_phone_number           1576
inspection_id                    904
inspection_date                  904
inspection_score                 974
inspection_type                  904
violation_id                     904
violation_description            904
risk_category                    904
Neighborhoods                    914
SF Find Neighborhoods            914
Current Police Districts         914
Current Supervisor Districts     914
Analysis Neighborhoods           914
dtype: int64

In [8]:
# create a list of these catagorical variables
category_var_list = list(Rscores.select_dtypes(include='object').columns)
category_var_list

['business_name',
 'business_address',
 'business_city',
 'business_state',
 'business_location',
 'inspection_id',
 'inspection_date',
 'inspection_type',
 'violation_id',
 'violation_description',
 'risk_category']

In [9]:
# explore the categorical variable values - often there are typos here that need to be fixed.
for cat in category_var_list: # generally, we want to avoid for loops and use a functional style (i.e. list comprehension)
    print(f"Category: {cat} Values: {Rscores[cat].unique()}")

Category: business_name Values: ['HEUNG YUEN RESTAURANT' 'Lamas Peruvian Food Truck' 'BIG MOUTH BURGERS'
 'NAYA CAFE' 'THE MEAT HOUSE' 'RINCON PERUANO RESTAURANT'
 'Marshall Elementary School' "CHAVITA'S MEXICAN RESTAURANT"
 'TAKOYAKI YAMACHAN' 'VALENCIA PIZZA & PASTA' 'Morning Brew Cafe'
 'Cable Car Corner' 'NAMU STONEPOT' "AMICI'S EAST COAST PIZZERIA"
 "Cybelle's Front Room" 'IZAKAYA MAYUMI' 'Piaza Pellegrini'
 'PETES BARBEQUE' "Akiko's Sushi Bar" 'LA SANTANECA DE LA MISSION'
 'The Napper Tandy' 'Nijiya Market' 'PHUKET THAI RESTAURANT'
 'TENDERLOIN ELEMENTARY SCHOOL' 'Jewish Community Center' 'IL BORGO'
 'Harvest Urban Market' 'ALAMO SQUARE' 'El Tonayense #1'
 'Good Frikin Chicken'
 'AT&T - FAB FRY BREAD (LOWER CENTER FIELD) [147480]'
 "LOVE 'N HAIGHT COFFEE & DELI" 'CENTRAL COFFEE TEA & SPICE'
 'Cafe La Taza' 'Piraat Pizza' 'PORK STORE CAFE' 'Slanted Door Restaurant'
 'Boxed Foods Company' 'UNIVERSAL CAFE' 'A16' 'SANDWICH PLACE, THE'
 'Rue Lepic' 'ARINELL PIZZA' 'STARBUCKS COFFEE #9219'
 'Brendas Meat & Three' 'CHINA FIRST INC.' "Tricolore Caffe' and Pizzeria"
 'ROYAL GROUND COFFEE' 'Tak Kee Lee Restaurant' 'STARBUCKS COFFEE'
 "RITA'S CATERING TRUCK" 'SUBWAY 16604' 'STARBUCKS COFFEE #531'
 'SQUAT & GOBBLE CAFE #3' "Peet's Coffee & Tea, Inc" 'Starbucks Coffee'
 'STARBUCKS' 'HIDIVE' "Tony's Cable Car Restaurant" 'ALAMO SQUARE MARKET'
 'MINI CAFE' 'El Beach Burrito' 'Star Bagels' 'Aux Delices Vietnam'
 'UA Twin Stonestown'
 'AT&T - GHIRARDELLI CHOCOLATE CO. (CLUB LEVEL) [147802]'
 'AT&T - GHIRARDELLI CHOCOLATE CO. (VIEW LEVEL) [147802]'
 'SUNFLOWER RESTAURANT' 'Boudin Petit Cafe' 'Mijita' 'The Grand Nightclub'
 'The Waterfront Restaurant' 'On Lok' 'Colibri Mexican Bistro'
 'TEKKA JAPANESE RESTAURANT' "PEET'S COFFEES & TEAS" 'SWEET THINGS'
 "PANCHO'S" 'PORTOLA BAPTIST CHURCH' "TAWAN'S THAI FOOD"
 'OOLA RESTAURANT & BAR' 'Akikos Sushi' 'PAZZO' 'Yamo Restaurant'
 'Sunflower Cafe' 'The Village Market & Pizza' 'Banwich' 'JAVA SUPREME'
 'KABABAYAN FAST FOOD' 'Centerfolds' 'REVERIE COFFEE CAFE'
 'NORTH BEACH PIZZA' 'LAVA JAVA' 'Jewish Community High School of the Bay'
 'MORNING DUE' 'VASQUEZ COFFEE CO' "AMASIA HIDE'S SUSHI BAR"
 "ORPHAN ANDY'S" 'ANCHOR OYSTER BAR INC.' 'TAQUERIA EL BUEN SABOR'
 'LA COCINA' 'WE BE SUSHI' 'RAIN TREE CAFE' 'Coi' 'Everett Middle School'
 'GORDO TAQUERIA #6' 'LESLIE A. HENNESSY, INC.' 'LA MEDITERRANEE I, INC.'
 'CALIFORNIA WINE MERCHANT' 'THE BLACK HORSE LONDON DELI' "CHLOE'S"
 'Sabor De San Miguel' 'HIGHER GROUNDS' 'Mint' "Trader Joe's"
 'Extreme Pizza' 'SAFEWAY #2606' 'The Beanery Inc' 'Cordon Bleu'
 'CREPES ON COLE' 'KING OF THAI NOODLE HOUSE' 'LA TORTILLA' 'SUSHI TIME'
 'STARBUCKS COFFEE CO.' 'RESTAURANTE FAMILIAR' 'CAFE MADELEINE'
 'CAFE LA TAZA' 'AFC SUSHI @SAFEWAY 2606' 'Taboun' "PEBBLE'S CAFE"
 'Go Go Market & Deli' 'Focaccia Market Bakery' 'Judahlicious Juice'
 "GASPARE'S PIZZA HOUSE AND ITALIAN RESTAURANT" "YUMMA'S MED GRILL"
 'La Copa Loca' 'Cafe Madeleine' 'Yuyu Sushi' 'SUBWAY #30196'
 'SWEET DELIGHT BAKERY' "Lee's Deli" 'Mango Medley' 'HOLEY BAGEL BAKERY'
 'Waterfront Bakery' 'CAFE V' 'KISS SEAFOOD' 'KIM HOANG CAFE & FAST FOOD'
 'DEJA VU PIZZA & PASTA' 'Whole Foods Steep Brew' 'Eagle Cafe'
 'Eggette Cafe' 'Polly Ann Ice Cream' 'A2 CAFE' "PEET'S COFFEE & TEA"
 'White Swan Inn' 'Petite Auberge'
 'FOUR SEASONS HOTEL- EMPLOYEE  CAFETERIA'
 'Starbucks Coffee Company #6765' 'Nonna Rose Restaurant' 'CLUB WAZIEMA'
 'BUS STOP PIZZA #1' 'Nordstrom Espresso Bar' "CHOUQUET'S" "CITY'S CHOICE"
 'Deli World' 'Neiman Marcus On The Square' 'Cafe Niebaum Coppola'
 'I LUV TERIYAKI AND SUSHI' 'OMNI S.F. Hotel - Food & Beverage Storeroom'
 'CAFE COLE' 'Boudin Bakery & Cafe' 'Fino' "Uncle Vito's Pizza"
 '901 Columbus Cafe' 'SF Bay Club - Court Cafe' 'Lao Table'
 "Nick's Lighthouse" 'Vital Tea Leaf' 'Caffe Bianco'
 'ESPERPENTO RESTAURANT' 'Zazie' 'BURGERMEISTER' 'Cafe Bean'
 'THE RICHMOND' 'CLADDAGH COFFEE' 'Tung Sing Restaurant'
 'STARBUCKS COFFEE #5646' 'CLEMENT BBQ RESTAURANT' 'BENDERS BAR & GRILL'
 'Starbucks Coffee (Store #9743)' 'Casa Mexicana Restaurant'
 'SWEET CHINITO' 'Oscar Burger & Deli' "L's Cafe" 'AXUM' 'Ladle & Leaf'
 'MARTHA & BROS. COFFEE CO' "Sam's Market" 'Hawaiian Drive Inn'
 'COURTYARD BY MARRIOTT-RESTAURANT' 'Evergreen Garden Restaurant'
 'PANDA EXPRESS' 'SILVER CREST DONUT SHOP' 'Just For You Cafe Inc.'
 "WORKING GIRLS' CAFE III" "RUBIN'S" 'NORDSTROM BAZILLE' 'Nihon'
 'Muskaan Cuisine of India' 'New Lun Ting Cafe, Inc'
 "Sai's Vietnamese Restaurant" 'Plouf' 'Raintree Cafe'
 'EL TOREADOR FONDA MEXICANA RESTAURANT'
 'Emporio Rulli Il Caffe at Union Square' 'SEA BREEZE CAFE' 'CAFE MUMS'
 'KFC/TACO BELL' 'Sun Rise Restaurant' 'SAI JAI THAI'
 'Osha Thai Noodle Cafe' 'McAllister Grocery & Deli' nan]
Category: business_address Values: ['3279 22nd St' 'Private Location' '3392 24th St' '5338 geary BLVD'
 '4217 GEARY BLVD' '3364 26th St' '1575 15th St' '3006 MISSION St'
 '1737 POST STREET  #375' '801 VALENCIA St' '401 Sansome St'
 '1099 Powell St' '499 DOLORES ST' '216 KING STREET' '1385 09th Ave'
 '2221 CLEMENT ST' '659 Columbus Ave' '2399 MISSION St' '542A Mason St'
 '2815 MISSION St' '3200 24th St' '1737 Post St 333' '248 DIVISADERO St'
 '627 TURK ST' '3200 California' '500 FELL St' '191 08th St'
 '803 FILLMORE St' '1717 Harrison St' '10 29th St' '24 WILLIE MAYS PLAZA'
 '553 HAIGHT St' '1696 HAYES St' '470 Post St' '696 Sutter St'
 '1451 HAIGHT St' '1 Ferry Building #3' '245 Kearny St' '2814 19th St'
 '2355 CHESTNUT ST' '2029 MISSION St' '900 Pine St' '509 VALENCIA St'
 '333 MARKET St' '919 DIVISADERO ST' '336 CLEMENT ST' '590 Washington St'
 '3101 Geary Blvd' '2435 Noriega St' '4094 18th St' '100 Alemany Blvd'
 '753 POLK St' '2132 CHESTNUT St' '3600 16th St' '022 Battery St'
 '555 California St' '280 KING STREET' 'PIER 28 1/2' '2500 GEARY Blvd'
 '535 SCOTT ST' '28 VAN NESS' '3914 Judah St' '1475 Polk St'
 '2327 Polk St' '501 Buckingham Way' '24 WILLIE MAYS PL'
 '24 Willie Mays Pl' '506 Valencia St' "170 O'Farrell St, 1st Floor"
 '1 Ferry Building' '520 4th St' 'Pier 7 Embarcadero' '225 30th St'
 '438 Geary St' '0537 BALBOA St' '3419 CALIFORNIA St' '3585 CALIFORNIA St'
 '3440 GEARY Blvd' '225 PIOCHE STREET' '4403 GEARY Blvd'
 '860A FOLSOM STREET' '431 Bush St' '2 HENRY ADAMS St' '3406 18th St'
 "284 O'Farrell St" '750 Font Blvd' '1105 TARAVAL St' '0703 GUERRERO St'
 '2706 MISSION St' '391 Broadway St' '848 COLE St' '800 STANYAN St'
 '852 STANYAN St' '1835 Ellis St.' '201 SPEAR St' '3698 17th St'
 '50 MENDELL STREET #1' '149 NOE St' '3991 A 17th St' '579 Castro St'
 '699 VALENCIA St' '2948 FOLSOM STREET' '1071 VALENCIA St' '654 IRVING St'
 '373 broadway St' '450 Church St' '5450 GEARY Blvd' '545 02nd St'
 '2210 FILLMORE St' '2113 CHESTNUT ST' '1514 UNION St' '1399 CHURCH St'
 '3263 MISSION St' '691 CHENERY St' '400 McAllister St' '401 Bay St'
 '3911 Alemany Bl.' '298 KING STREET' '1307 09th Ave' '1574 California St'
 '100 CARL St' '639 CLEMENT St' '495 Castro St B' '2275 MARKET St'
 '1750 DIVISADERO St' '4499 MISSION St' '149 NEW MONTGOMERY STREET'
 '2475A MISSION' '701 Battery St' '203 Parnassus Ave' '2852 Diamond St'
 '99 09th St' '119 Sacramento St A' '3906 Judah st' '5546 GEARY Blvd'
 '721 IRVING St' '3150 22nd St' '300 California St' '1559 A Sloat St'
 '700 04th St' '5455 GEARY Blvd' '4476A MISSION' '75 Battery St'
 '3911 Judah St.' '3872 24th St' '2801 Leavenworth St' '1525 FOLSOM St'
 '1708 LAGUNA St' '246-250 LEAVENWORTH ST' '3227 16th St'
 '1765 CALIFORNIA St' '111 Pine St' '3136 Noriega St' '3138 Noriega St.'
 '450 IRWIN St' '675 PORTOLA Dr' '101 02nd St 150' '845 Bush St'
 '863 Bush St' '757 MARKET St BASE.' '359 Grant Ave'
 'Foot of Taylor St #7' '543 DIVISADERO St' '256 Divisadero St'
 '865 Market Street' '2500 WASHINGTON St' '301 05th St' '18 Ocean Ave.'
 '490 BRANNAN St' '150 Stockton St, Ground Floor' '916 Kearny St'
 '270 Potrero Ave' '500 California St, Basement' '609 Cole St'
 '160 Jefferson St 1st Floor' '1 Cosmo Pl' '700 Bush St'
 '901 Columbus Ave' '150 Greenwich St' '149 2nd St' 'Foot of Taylor St 5'
 '1044 Grant Ave' '39 Sutter St' '3295 22nd St' '941 COLE St' '86 Carl St'
 '800 Sutter St' '615 Balboa St' '951 Geneva Ave' '4015 24th St'
 '455 MARKET St' '27 Drumm St' '617 CLEMENT St'
 '800-806 SOUTH VAN NESS Ave' '425 Battery St' '3917 24th St'
 '3100 MISSION St' '1850 Cesar Chavez St' '2871 24th St' '698 Haight St'
 '50 Post St, 3rd Floor' '1551 Church St' '580 Precita Ave'
 '2600 San Bruno Ave' '299 02nd St' '3100 18th St' '201 03rd St'
 '865 MARKET St C24' '340 BAYSHORE Blvd' '732 22ND St' '100 SPEAR St 140'
 '101 SPEAR St' '865 MARKET St' '1779 Folsom St' '101 Spear St 22'
 '670 Jackson St' '505 Washington St' '40 Belden Pl' '118 West Portal Ave'
 '050 WEST PORTAL Ave' '225 Stockton St' '3940 JUDAH St' '1800 SUTTER St'
 '4285 MISSION St' '3126 24th St' "771 O'FARRELL St" '696 Geary St'
 '136 McAllister St' nan]
Category: business_city Values: ['San Francisco' nan]
Category: business_state Values: ['CA' nan]
Category: business_location Values: ['POINT (-122.420493 37.755282)' nan 'POINT (-122.420362 37.752158)'
 'POINT (-122.417402 37.749128)' 'POINT (-122.419014 37.766864)'
 'POINT (-122.418134 37.748855)' 'POINT (-122.421356 37.759944)'
 'POINT (-122.401299 37.794024)' 'POINT (-122.409705 37.794615)'
 'POINT (-122.392489 37.777803)' 'POINT (-122.48591 37.758941)'
 'POINT (-122.411062 37.800851)' 'POINT (-122.418975 37.758684)'
 'POINT (-122.410045 37.788484)' 'POINT (-122.418406 37.751885)'
 'POINT (-122.416482 37.752581)' 'POINT (-122.430317 37.785457)'
 'POINT (-122.436976 37.771117)' 'POINT (-122.419777 37.782034)'
 'POINT (-122.446839 37.787311)' 'POINT (-122.426264 37.775538)'
 'POINT (-122.411684 37.776384)' 'POINT (-122.431444 37.776944)'
 'POINT (-122.413446 37.769426)' 'POINT (-122.420967 37.744369)'
 'POINT (-122.431336 37.771964)' 'POINT (-122.444214 37.774198)'
 'POINT (-122.409705 37.788128)' 'POINT (-122.411754 37.788858)'
 'POINT (-122.446247 37.770063)' 'POINT (-122.39377 37.795225)'
 'POINT (-122.403994 37.790453)' 'POINT (-122.410662 37.760487)'
 'POINT (-122.442097 37.800043)' 'POINT (-122.419566 37.764384)'
 'POINT (-122.410854 37.790868)' 'POINT (-122.421803 37.764744)'
 'POINT (-122.397852 37.792037)' 'POINT (-122.438474 37.778194)'
 'POINT (-122.462982 37.783038)' 'POINT (-122.403104 37.795614)'
 'POINT (-122.452151 37.781736)' 'POINT (-122.489929 37.753623)'
 'POINT (-122.434692 37.760938)' 'POINT (-122.40892 37.736917)'
 'POINT (-122.419357 37.783713)' 'POINT (-122.438494 37.800547)'
 'POINT (-122.433392 37.764248)' 'POINT (-122.399565 37.791554)'
 'POINT (-122.403567 37.792773)' 'POINT (-122.393789 37.776805)'
 'POINT (-122.387718 37.787914)' 'POINT (-122.444744 37.782778)'
 'POINT (-122.436094 37.774824)' 'POINT (-122.419356 37.775867)'
 'POINT (-122.503998 37.760851)' 'POINT (-122.420664 37.790324)'
 'POINT (-122.422264 37.798274)' 'POINT (-122.478441 37.730105)'
 'POINT (-122.421905 37.764678)' 'POINT (-122.407313 37.786548)'
 'POINT (-122.397709 37.779237)' 'POINT (-122.396464 37.793874)'
 'POINT (-122.425006 37.742129)' 'POINT (-122.410594 37.787098)'
 'POINT (-122.464412 37.77714)' 'POINT (-122.450476 37.786754)'
 'POINT (-122.452807 37.786453)' 'POINT (-122.456176 37.781507)'
 'POINT (-122.420606 37.728469)' 'POINT (-122.46659 37.780834)'
 'POINT (-122.402669 37.78093)' 'POINT (-122.404676 37.790643)'
 'POINT (-122.403974 37.769287)' 'POINT (-122.419599 37.761882)'
 'POINT (-122.409371 37.786316)' 'POINT (-122.483012 37.723462)'
 'POINT (-122.477898 37.742895)' 'POINT (-122.423553 37.759934)'
 'POINT (-122.418657 37.753691)' 'POINT (-122.403637 37.798233)'
 'POINT (-122.449997 37.766097)' 'POINT (-122.453075 37.767286)'
 'POINT (-122.452974 37.766812)' 'POINT (-122.436381 37.781813)'
 'POINT (-122.392051 37.790944)' 'POINT (-122.428473 37.762939)'
 'POINT (-122.383536 37.743419)' 'POINT (-122.433306 37.766774)'
 'POINT (-122.435614 37.758132)' 'POINT (-122.434817 37.759613)'
 'POINT (-122.421492 37.761743)' 'POINT (-122.413935 37.750134)'
 'POINT (-122.420986 37.755824)' 'POINT (-122.464961 37.764128)'
 'POINT (-122.40349 37.798229)' 'POINT (-122.428617 37.763794)'
 'POINT (-122.477804 37.780517)' 'POINT (-122.392843 37.782504)'
 'POINT (-122.433962 37.789961)' 'POINT (-122.438217 37.800534)'
 'POINT (-122.424394 37.798528)' 'POINT (-122.427116 37.748594)'
 'POINT (-122.420395 37.744726)' 'POINT (-122.43368 37.734483)'
 'POINT (-122.418974 37.780247)' 'POINT (-122.413626 37.80557)'
 'POINT (-122.46779 37.711185)' 'POINT (-122.394175 37.776491)'
 'POINT (-122.420264 37.790683)' 'POINT (-122.450184 37.765778)'
 'POINT (-122.46615 37.782833)' 'POINT (-122.434935 37.760954)'
 'POINT (-122.432322 37.764697)' 'POINT (-122.439957 37.785907)'
 'POINT (-122.433476 37.726402)' 'POINT (-122.399681 37.786803)'
 'POINT (-122.41888 37.757436)' 'POINT (-122.400925 37.797754)'
 'POINT (-122.45295 37.764574)' 'POINT (-122.434093 37.73382)'
 'POINT (-122.406761 37.774722)' 'POINT (-122.397037 37.794543)'
 'POINT (-122.503991 37.760528)' 'POINT (-122.478832 37.78047)'
 'POINT (-122.465539 37.764053)' 'POINT (-122.417982 37.755538)'
 'POINT (-122.400323 37.793268)' 'POINT (-122.490726 37.733901)'
 'POINT (-122.394729 37.776858)' 'POINT (-122.477825 37.780305)'
 'POINT (-122.433817 37.726117)' 'POINT (-122.399724 37.791864)'
 'POINT (-122.503939 37.760454)' 'POINT (-122.429122 37.751628)'
 'POINT (-122.419004 37.807155)' 'POINT (-122.414372 37.771538)'
 'POINT (-122.428317 37.786838)' 'POINT (-122.414065 37.783249)'
 'POINT (-122.424709 37.764713)' 'POINT (-122.423437 37.790193)'
 'POINT (-122.398567 37.792343)' 'POINT (-122.497572 37.753338)'
 'POINT (-122.399039 37.767224)' 'POINT (-122.452666 37.744736)'
 'POINT (-122.399522 37.787834)' 'POINT (-122.411247 37.789834)'
 'POINT (-122.411447 37.789813)' 'POINT (-122.404852 37.786476)'
 'POINT (-122.405544 37.790376)' 'POINT (-122.413169 37.795202)'
 'POINT (-122.437764 37.774674)' 'POINT (-122.437047 37.771487)'
 'POINT (-122.407563 37.784317)' 'POINT (-122.434563 37.791607)'
 'POINT (-122.403323 37.780263)' 'POINT (-122.435859 37.724174)'
 'POINT (-122.396139 37.778694)' 'POINT (-122.408452 37.791586)'
 'POINT (-122.405167 37.796517)' 'POINT (-122.407671 37.766293)'
 'POINT (-122.403135 37.792888)' 'POINT (-122.450724 37.769303)'
 'POINT (-122.415157 37.808352)' 'POINT (-122.41176 37.788094)'
 'POINT (-122.408849 37.790219)' 'POINT (-122.414186 37.803056)'
 'POINT (-122.402534 37.803208)' 'POINT (-122.398902 37.787343)'
 'POINT (-122.411234 37.802479)' 'POINT (-122.406696 37.796597)'
 'POINT (-122.401158 37.790102)' 'POINT (-122.420649 37.755303)'
 'POINT (-122.449914 37.765343)' 'POINT (-122.449664 37.765848)'
 'POINT (-122.413795 37.788587)' 'POINT (-122.46534 37.777123)'
 'POINT (-122.440048 37.715997)' 'POINT (-122.432319 37.751373)'
 'POINT (-122.398872 37.791227)' 'POINT (-122.396524 37.794184)'
 'POINT (-122.4659 37.782843)' 'POINT (-122.417123 37.76031)'
 'POINT (-122.400435 37.795366)' 'POINT (-122.430179 37.751513)'
 'POINT (-122.418241 37.748164)' 'POINT (-122.395962 37.749798)'
 'POINT (-122.409588 37.752764)' 'POINT (-122.433583 37.771738)'
 'POINT (-122.402861 37.789064)' 'POINT (-122.426856 37.745974)'
 'POINT (-122.40957 37.747496)' 'POINT (-122.404101 37.728718)'
 'POINT (-122.396693 37.785614)' 'POINT (-122.413092 37.762249)'
 'POINT (-122.400432 37.785037)' 'POINT (-122.405766 37.742456)'
 'POINT (-122.388862 37.757948)' 'POINT (-122.393809 37.792308)'
 'POINT (-122.393992 37.792577)' 'POINT (-122.415586 37.768654)'
 'POINT (-122.406275 37.796098)' 'POINT (-122.40172 37.795659)'
 'POINT (-122.403757 37.791318)' 'POINT (-122.46744 37.739413)'
 'POINT (-122.466412 37.74033)' 'POINT (-122.406712 37.787936)'
 'POINT (-122.504572 37.760508)' 'POINT (-122.430283 37.786498)'
 'POINT (-122.431008 37.728979)' 'POINT (-122.414681 37.752508)'
 'POINT (-122.417409 37.785182)' 'POINT (-122.414583 37.786598)'
 'POINT (-122.414312 37.780916)']
Category: inspection_id Values: ['1000_20171002' '1000_20180523' '1000_20190617' '100126_20190403'
 '1002_20170928' '1002_20180509' '1002_20190507' '100219_20190618'
 '100288_20190702' '1003_20170823' '1003_20180314' '1003_20190313'
 '10030_20170928' '10030_20190220' '10030_20190912' '1005_20170713'
 '1005_20180122' '1005_20180919' '1005_20190808' '100560_20190903'
 '1008_20170905' '1008_20180409' '1008_20190403' '10083_20170905'
 '10083_20190426' '101_20170627' '101_20180129' '101184_20190730'
 '10127_20180417' '10131_20180201' '10131_20190313' '101430_20190930'
 '10170_20180501' '1018_20170718' '1018_20180208' '1018_20190401'
 '102_20161103' '102_20170728' '102_20180302' '102_20190508'
 '1021_20170912' '1021_20180417' '1021_20190402' '1021_20190419'
 '10227_20170814' '10227_20180307' '10227_20190123' '10235_20180417'
 '1026_20190410' '10280_20170919' '10280_20180405' '10280_20181018'
 '10280_20190301' '10282_20180612' '10282_20190529' '1031_20180328'
 '1031_20190401' '10332_20171002' '10332_20181127' '10332_20181207'
 '10332_20190716' '1036_20180515' '10373_20170715' '10373_20170724'
 '10373_20180612' '10373_20181120' '10373_20190528' '10376_20161129'
 '10376_20170601' '10376_20171226' '10376_20190107' '10376_20190711'
 '10377_20190412' '1042_20171211' '1042_20181129' '1043_20171116'
 '1043_20180928' '10433_20161026' '10433_20170728' '10433_20190124'
 '10433_20190730' '10438_20161207' '10438_20170901' '10438_20190108'
 '1047_20180822' '1047_20180914' '10540_20170605' '10540_20180615'
 '10540_20190321' '10625_20170927' '10625_20181004' '1065_20170906'
 '1065_20180711' '1065_20190718' '10668_20180105' '1075_20170726'
 '1075_20180427' '1075_20190926' '108_20170106' '1081_20171106'
 '1081_20180523' '1081_20190417' '1085_20161209' '10875_20180411'
 '10875_20190313' '10877_20180109' '10877_20190701' '1090_20170504'
 '10931_20180117' '10931_20181203' '10990_20161114' '10990_20171114'
 '10990_20190717' '1103_20161129' '1103_20170928' '11034_20181220'
 '1111_20170302' '1111_20180605' '1122_20161014' '1122_20171214'
 '1124_20171114' '1124_20171121' '1124_20171205' '1124_20190411'
 '1125_20170816' '1125_20181015' '1127_20190423' '11289_20180307'
 '11304_20180116' '11304_20190709' '1135_20171102' '1135_20180814'
 '11379_20180424' '1139_20171127' '11416_20170703' '11416_20190911'
 '1144_20170828' '1144_20180226' '1144_20180828' '1146_20180223'
 '1147_20161028' '1147_20180102' '11487_20170424' '11487_20170919'
 '11488_20180911' '1154_20180110' '1154_20190327' '1156_20170419'
 '1156_20190508' '11568_20171113' '11568_20190312' '11594_20170130'
 '11594_20180315' '116_20190304' '116_20190912' '11610_20161227'
 '11610_20170117' '11610_20190107' '11860_20170314' '11860_20190228'
 '1191_20170202' '1191_20180710' '1193_20180206' '1193_20181009'
 '1194_20161017' '1199_20180117' '1199_20181214' '12005_20171012'
 '1203_20170803' '1203_20180802' '1203_20190403' '1203_20190814'
 '12083_20170815' '12083_20180626' '121_20170418' '121_20180514'
 '121_20190308' '121_20191002' '1219_20161031' '1219_20190403'
 '1231_20161117' '1231_20171031' '1231_20180625' '1231_20190917'
 '1232_20170407' '1232_20190211' '12344_20170119' '12344_20171004'
 '1241_20171018' '1241_20190523' '1243_20171012' '1243_20190425'
 '1249_20171002' '1249_20180515' '1249_20180611' '1249_20190708'
 '125_20170719' '1261_20171201' '1261_20171212' '1262_20171215'
 '1263_20171201' '1263_20191002' '12682_20181221' '1269_20180904'
 '1269_20190716' '1274_20170809' '1274_20180809' '1274_20190318'
 '12768_20171120' '12768_20190723' '1280_20180327' '1280_20190219'
 '1289_20161206' '1289_20170822' '1289_20180827' '1289_20190404'
 '1294_20171205' '1296_20170926' '1296_20180501' '1296_20181025'
 '1296_20190910' '12970_20170315' '12970_20170809' '12970_20180928'
 '12970_20190925' '1300_20171005' '1300_20180531' '1300_20190523'
 '1304_20180131' '1304_20180711' '1304_20190821' '13041_20190605'
 '13062_20170926' '13062_20180214' '13062_20180904' '13062_20190913'
 '1318_20170725' '1318_20180710' '1318_20190220' '1318_20190820'
 '13218_20170829' '13218_20180522' '13218_20190813' '1322_20171128'

### Summary the findings from our initial evaluation of the data

* We have 12 categorical variables
* We have 15 variables that have missing values

## 5.0 Process the data

* Conduct any data prepartion that should be done *BEFORE* the data split.
* Split the data.
* Conduct any data preparation that should be done *AFTER* the data split.

### 5.1  Conduct any data prepartion that should be done *BEFORE* the data split

Tasks at this stage include:
1. Drop any columns/features 
2. Decide if you with to exclude any observations (rows) due to missing na's.
2. Conduct proper encoding of categorical variables
    1. You can transform them using dummy variable encoding, one-hot-encoding, or label encoding.

#### Drop any columns/variables we will not be using

In [10]:
# Our target is price; but there are three related price variableds - price, price_gte_150, 
Rscores.drop(['business_id', 'business_city','business_state','business_latitude','business_longitude','inspection_id','business_phone_number'], axis=1, inplace = True)

Since the business city state are same for all we dropping these columns. latitude and longitude are being removed because we already have the address of the restuarant and the data becomes redundant similar way business id since we already have business name. inspection id , business_phone_numbe doesnt effect our output so removing these two too

#### Drop observations with too many NA's

If we want to remove the rows with NA's use the following code that is commented out. For this exercise - we will not drop rows with NA's

In [11]:
# If we want to remove rows with NA's use the following code:
Rscores.dropna(axis=0, inplace=True)

In [12]:
# verify that there are now no missing values
Rscores.isna().sum()

business_name                   0
business_address                0
business_postal_code            0
business_location               0
inspection_date                 0
inspection_score                0
inspection_type                 0
violation_id                    0
violation_description           0
risk_category                   0
Neighborhoods                   0
SF Find Neighborhoods           0
Current Police Districts        0
Current Supervisor Districts    0
Analysis Neighborhoods          0
dtype: int64

In [13]:
# investigage how many rows remain 
Rscores.shape

(972, 15)

#### Encode our categorical variables

In [14]:
labelencoder = LabelEncoder()
Rscores['business_name'] = labelencoder.fit_transform(Rscores['business_name'])
Rscores['risk_category'] = labelencoder.fit_transform(Rscores['risk_category'])
Rscores['inspection_type'] = labelencoder.fit_transform(Rscores['inspection_type'])
Rscores['business_address'] = labelencoder.fit_transform(Rscores['business_address'])
Rscores['business_location'] = labelencoder.fit_transform(Rscores['business_location'])
Rscores['business_postal_code'] = labelencoder.fit_transform(Rscores['business_postal_code'])
Rscores['violation_description'] = labelencoder.fit_transform(Rscores['violation_description'])
Rscores['inspection_date'] = labelencoder.fit_transform(Rscores['inspection_date'])
Rscores['violation_id'] = labelencoder.fit_transform(Rscores['violation_id'])

Encoding all the categorical variables with label encoder so that the model fitting will be easy.

In [15]:
# explore the dataframe columns to verify encoding and dropped columns
Rscores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972 entries, 0 to 1092
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   business_name                 972 non-null    int32
 1   business_address              972 non-null    int32
 2   business_postal_code          972 non-null    int64
 3   business_location             972 non-null    int32
 4   inspection_date               972 non-null    int32
 5   inspection_score              972 non-null    float64
 6   inspection_type               972 non-null    int32
 7   violation_id                  972 non-null    int32
 8   violation_description         972 non-null    int32
 9   risk_category                 972 non-null    int32
 10  Neighborhoods                 972 non-null    float64
 11  SF Find Neighborhoods         972 non-null    float64
 12  Current Police Districts      972 non-null    float64
 13  Current Supervisor Districts  972 non-null    float64
 14  Analysis Neighborhoods        972 non-null    float64
dtypes: float64(6), int32(8), int64(1)
memory usage: 91.1 KB

In [16]:
Rscores.head(3)

,business_name,business_address,business_postal_code,business_location,inspection_date,inspection_score,inspection_type,violation_id,violation_description,risk_category,Neighborhoods,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods
0,66,100,7,112,38,74.0,0,0,5,0,53.0,53.0,3.0,2.0,20.0
1,66,100,7,112,38,74.0,0,1,14,2,53.0,53.0,3.0,2.0,20.0
2,66,100,7,112,38,74.0,0,2,42,1,53.0,53.0,3.0,2.0,20.0

### 5.2 Split data (train/test)

In [17]:
# construct datasets for analysis
target = 'risk_category'
predictors = list(Rscores.columns)
predictors.remove(target)
X = Rscores[predictors]
y = Rscores[target]
train_df, test_df = train_test_split(Rscores, test_size=0.3)

In [18]:
# create the training set and the test set 
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=1)

### 5.3  Conduct any data prepartion that should be done *AFTER* the data split

We will look at the following:
1) imput any missing numeric values using the mean of the variable/column
2) remove differences of scale by standardizing the numerica variables

since we dont have null columns we no need to impute the data

# Scaling the data

In [19]:
# create a standard scaler and fit it to the training set of predictors
scaler = preprocessing.StandardScaler()
cols_to_stdize = predictors               
               
# Transform the predictors of training and validation sets
train_df[cols_to_stdize] = scaler.fit_transform(train_df[cols_to_stdize]) # train_predictors is not a numpy array
test_df[cols_to_stdize] = scaler.transform(test_df[cols_to_stdize]) # validation_target is now a series object

# Resampling Data

Since the data is large and contains about 10000 records only selecting the top 500 rows. I have tried fitting using all the data but the model is taking too much time so reduced the sample size to 500

In [20]:
Rscores = Rscores.head(500)

# save data

In [21]:
X_train.to_csv('./data/Rscores_X_train.csv', index=False)
y_train.to_csv('./data/Rscores_y_train.csv', index=False)
X_test.to_csv('./data/Rscores_X_test.csv', index=False)
y_test.to_csv('./data/Rscores_y_test.csv', index=False)